@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
    box-sizing: border-box;
}

body {
    background: #e0e0e0 !important;
    font-weight: 400;
    min-width: 200px;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
}

h1,h2,h3,h4,h5,h6,label,span, th {
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
    color: #6E663F !important;
}

button {
    background-color: #402B31 !important;
    border-color:  #402B31 !important;
    color: #e0e0e0
}

button:hover {
    cursor: pointer;
}

#login-btn {
    text-align: center;
    margin-top: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}
#title {
    text-align: center;
}